## Last commit: 2009-12-15 14:30:28 NZDT by netscreen
version 9.6R1.13;
system {
    host-name foo;
    domain-name fubar.co.nz;
    time-zone Pacific/Auckland;
    authentication-order [ password radius ];
    root-authentication {
        # Standard router password
        encrypted-password "XXXXX"; ## SECRET-DATA
    }
    name-server {
        # Primary nameserver
        192.168.3.13;
    }
    radius-server {
        # RADIUS server
        192.168.3.13 {
            # Standard RADIUS secret
            secret "XXXXX"; ## SECRET-DATA
            # CHANGE: Internal IP of system
            source-address 192.168.112.1;
        }
    }
    login {
        user netscreen {
            uid 2002;
            class super-user;
            authentication {
                # Standard Pacrad router password
                encrypted-password "XXXX"; ## SECRET-DATA
            }
        }
        user remote {
            # "remote" is the template for RADIUS authenticated users who
            # do not exist locally. Default to "operator" class (read/debug only)
            # may need to default to higher, or maybe add local classes or something
            uid 2001;
            class operator;
        }
    }
    services {
        ssh;
        telnet;
        web-management {
            http {
                interface ge-0/0/0.0;
            }
            https {
                system-generated-certificate;
            }
        }
        dhcp {
            # CHANGE: DHCP address ranges
            pool 192.168.112.0/24 {
                address-range low 192.168.112.40 high 192.168.112.99;
                name-server {
                    192.168.3.13;
                }
                domain-search {
                    fubar.co.nz;
                }
                router {
                    192.168.112.1;
                }
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        # Forward all syslog entries to this IP
        host 192.168.3.25 {
            any any;
        }
        file messages {
            any critical;
            authorization info;
        }
        file interactive-commands {
            interactive-commands error;
        }
    }
    max-configurations-on-flash 5;
    max-configuration-rollbacks 5;
    license {
        autoupdate {
            url https://ae1.juniper.net/junos/key_retrieval;
        }
    }
    ntp {
        server 203.109.252.7;
        server 218.185.224.7;
        server 203.97.255.68;
        # CHANGE: source address to match EXTERNAL interface IP
        source-address 10.10.10.10;
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                # CHANGE: Internal address space for this node
                address 192.168.112.1/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.10.10.10/28;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 127.0.0.1/32;
            }
        }
    }
    st0 {
        unit 0 {
            family inet;
        }
    }
}
snmp {
    # CHANGE: SNMP name and location details
    name foo.gw;
    description "Branch node, FOO";
    location "Foo Land";
    contact "Operations at Foo Ltd";
    engine-id {
        use-mac-address;
    }
    community monitor {
        authorization read-only;
        clients {
            # SNMP monitor server
            192.168.3.11/32;
        }
    }
    trap-group monitor {
        categories {
            authentication;
            chassis;
            link;
            startup;
            configuration;
        }
        targets {
            # SNMP monitor server
            192.168.3.11;
        }
    }
}
routing-options {
    static {
        # CHANGE: next hop for default route
        route 0.0.0.0/0 next-hop 10.10.10.1;
        route 192.168.0.0/16 next-hop st0.0;
    }
}
security {
    ike {
        policy Default {
            mode main;
            proposal-set standard;
            pre-shared-key ascii-text "XXXX";
        }
        gateway DAT {
            ike-policy Default;
            address 10.10.9.1;
            # CHANGE: local external IP address
            local-identity inet 10.10.10.10;
            # CHANGE: relevant external address (ge-0/0/1)
            external-interface ge-0/0/1;
        }
    }
    ipsec {
        policy Default {
            perfect-forward-secrecy {
                keys group2;
            }
            proposal-set standard;
        }
        vpn DAT {
            bind-interface st0.0;
            ike {
                gateway DAT;
                proxy-identity {
                    local 192.168.112.0/24;
                    remote 192.168.0.0/16;
                }
                ipsec-policy Default;
            }
            establish-tunnels immediately;
        }
    }
    nat {
        source {
            rule-set interface-nat {
                from zone trust;
                to zone untrust;
                rule to_vpn {
                    match {
                        source-address 0.0.0.0/0;
                        destination-address 192.168.0.0/16;
                    }
                    then {
                        source-nat {
                            off;
                        }
                    }
                }
                rule to_internet {
                    match {
                        source-address 0.0.0.0/0;
                        destination-address 0.0.0.0/0;
                    }
                    then {
                        source-nat {
                            interface;
                        }
                    }
                }
            }
        }
    }
    screen {
        ids-option untrust-screen {
            icmp {
                ping-death;
            }
            ip {
                source-route-option;
                tear-drop;
            }
            tcp {
                syn-flood {
                    alarm-threshold 1024;
                    attack-threshold 200;
                    source-threshold 1024;
                    destination-threshold 2048;
                    queue-size 2000; ## Warning: 'queue-size' is deprecated
                    timeout 20;
                }
                land;
            }
        }
    }
    zones {
        security-zone trust {
            tcp-rst;
            address-book {
                address local_net 192.168.112.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                ge-0/0/0.0 {
                    host-inbound-traffic {
                        system-services {
                            snmp;
                            http;
                            https;
                            ssh;
                            dhcp;
                            ping;
                        }
                    }
                }
            }
        }
        security-zone untrust {
            screen untrust-screen;
            host-inbound-traffic {
                system-services {
                    ssh;
                    ping;
                    https;
                }
            }
            interfaces {
                # CHANGE: ge-0/0/1 if needed
                at-1/0/0.0;
                pp0.0;
                ge-0/0/1.0;
            }
        }
        security-zone vpn {
            address-book {
                address wan_net 192.168.0.0/16;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                    https;
                }
            }
            interfaces {
                st0.0;
            }
        }
    }
    policies {
        from-zone trust to-zone trust {
            policy default-permit {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone trust to-zone untrust {
            policy any-permit {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone untrust to-zone trust {
            policy any-deny {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    deny;
                }
            }
        }
        from-zone trust to-zone vpn {
            policy trust-vpn {
                match {
                    source-address local_net;
                    destination-address wan_net;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone vpn to-zone trust {
            policy vpn-trust {
                match {
                    source-address wan_net;
                    destination-address local_net;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
    }
    flow {
        tcp-mss {
            ipsec-vpn {
                mss 1350;
            }
        }
    }
}
